body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: left;
}
.footer-text {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    padding: 15;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

h1 {
    color:blue
}
p {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
}